
$primary: #5265E1;
$secundary: #FA5959;

.menu-botones a:hover {
  color: aqua;
}
.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #fff #fff red !important;
    border-width: 2px;
}
.nav-link {
    color: #495057 !important;
}

.accordion-button::after{
  background-image: url(../images/icon-arrow.svg);
}

.accordion-button:not(.collapse)::after{
  background-image: url(../images/icon-arrow.svg);
}

.card {
  height: 10%;
}



.half_pill_left {
    -webkit-border-top-left-radius: 200px;
    -webkit-border-bottom-left-radius: 200px;
    -moz-border-radius-topleft: 200px;
    -moz-border-radius-bottomleft: 200px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    height: 300px;
  }
  
  .half_pill_right {
    -webkit-border-top-right-radius: 200px;
    -webkit-border-bottom-right-radius: 200px;
    -moz-border-radius-topright: 200px;
    -moz-border-radius-bottomright: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
  }
  .change_color{
    fill: #ffffff !important;
  }


@import "../node_modules/bootstrap/scss/bootstrap";